html {
    background-color: black;
    background-image: url("https://i.gifer.com/RRsV.gif");
    background-position: center;
    background-repeat: no-repeat;
    animation: fadeInAnimation ease 12s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
    
}

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
    }

body {
    background-color: rgba(0, 0, 0, 0);
    color: white;    
    -webkit-font-smoothing: antialiased;  
}

header {
    margin: -10px auto 0px auto;
    width: 100%;
    color: rgba(255, 255, 255, 0.164);
    text-align: center;
    letter-spacing: 28px;
    font-size: 20px;
    background: -webkit-linear-gradient(rgba(238, 238, 238, 0.418), rgb(110, 110, 110));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.modal-position-container {
    width: 50%;
    background-color: red;
}



.main-container {
    width: 100%;
    height: 650px;
    background-color: rgba(255, 255, 255, 0.048);
    margin: 5px auto 20px auto;
    border-radius: 10px;
    
}

/* .main-container:hover{
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.151);
    transition: 1s;
    background-color: rgba(224, 224, 224, 0.123);
    color: white;

} */

.heading {
    text-align: center;
    font-size: 40px;
    letter-spacing: 8px;
    background: -webkit-linear-gradient(rgb(56, 56, 56), rgb(255, 255, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.icon-container {
    margin: 50px auto 45px auto;
    display: flex;
    justify-content: center;
    position: relative;
    top: 60%;
    
}

.icons {
    opacity: .6;
    filter: saturate(.3);
    margin: 0 8%;
    background-color: rgba(65, 65, 65, 0);
    display: inline-block;
    width: 100px;
    height: 100px;
    
}

/* #btc-icon {

} */

#btc-icon, #eth-icon, #xrp-icon {
    filter: blur(1px);
}

#btc-icon:hover {
    opacity: 1;
    transition: .5s;
    
    filter: saturate(1);
    cursor: pointer;
}

.icon-clicked {
    filter: blur(.3)
}


#eth-icon:hover {
    opacity: 1;
    transition: .5s;

    filter: saturate(1);
    cursor: pointer;
}


#xrp-icon:hover {
    opacity: 1;
    transition: .5s;
    filter: saturate(2);
    cursor: pointer;
}

#title-bitcoin {
    text-align: center;
    color: white;
    width: 100%;
}

footer{
    position: fixed;
    bottom: 0;
    text-align: center;
    height: 25px;
    background-color: rgba(71, 71, 71, 0.308);
    width: 100%;
    border-top: 1px white solid;
}

#divContainer {
    width: 100%;
    height: 50px;
    background-color: rgb(180, 180, 180);
    margin: 5px auto;
    padding: 0 5px;
    border-radius: 10px;
    border: 1px rgb(61, 61, 61) solid;
    color: black;
}

.articleContainer{
    margin-top: 5px;
    padding-right: 8px;
}

.message a {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.modal-card, .modal-content {
    margin: 0 auto;
    width: 75%;
}

.is-scrollable {
    overflow-y: scroll;
    /* overflow-x: hidden; */
    height: 300px;
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: rgb(233, 229, 3);
}

#main-modal {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
    
}



#chart-div {
    display: inline-flex;
    padding: 25px;
    margin: 5px;
}

#myChart,#myChart2 {
    max-height: 200px;
    max-width: 300px;

}



.github {
    opacity: .3;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: fixed;
    right: 0px;
    bottom: 0px;
    margin: 10px;
    filter: hue-rotate(1s)
    
}


.tweeterFeed-container {
background-image: url("../images/twitterplaceHolder.png");
background-repeat: no-repeat;
}


.quizButton {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 80px;
    height: 80px;
    filter: contrast(130%)
    
}

.quizButton:hover {
    cursor: pointer;
    
}

.github:hover {
    opacity: 1;
    transition: .5s;
}

#price {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 3px;
    background: -webkit-linear-gradient(rgba(15, 15, 15, 0.418), rgb(71, 71, 71));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#marketCap, #circSupply, #maxSupply {
    font-size: 14px;
    
}

#priceContainer {
    text-align: center;
    line-height: 22px;
    border: 1px rgba(0, 0, 0, 0.356) solid;
    margin-top: 10%;
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(247, 247, 247);
    
    
}

#priceContainer:hover {
    box-shadow: 0px 0px 5px rgb(8, 4, 17);
    transition: .3s;
}


@media only screen and (max-width: 1134px) {
    #chart-div {
        display: block;
    }    



@media only screen and (max-width: 600px) {
    .icon-container {
        margin: 50px auto 45px auto;
        display: flex;
        justify-content: center;
        position: relative;
        top: 15%;
        
    }

 

    .icons {
        opacity: .6;
        filter: saturate(.3);
        margin: 0;;
        background-color: rgba(65, 65, 65, 0);
        display: inline-block;
        width: 100px;
        height: 100px;
        
    }

    header {
        font-size: 20px;
        letter-spacing: 10px;;
    }
  }





}

