html {
    background-color: black;
    background-image: url("https://i.gifer.com/RRsV.gif");
    background-position: center;
    background-repeat: no-repeat;
    animation: fadeInAnimation ease 15s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;
    overflow: hidden; 
}

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
    }

body {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    
    
}

header {
    margin-top: -10px;
    width: 100%;
    color: rgba(255, 255, 255, 0.164);
    text-align: center;
    letter-spacing: 28px;
    font-size: 18px;
    background: -webkit-linear-gradient(rgba(238, 238, 238, 0.418), rgb(110, 110, 110));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}


.main-container {
    width: 100%;
    height: 650px;
    background-color: rgba(255, 255, 255, 0.048);
    margin: 50px 20px 20px 20px;
    border-radius: 10px;
}

/* .main-container:hover{
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.151);
    transition: 1s;
    background-color: rgba(224, 224, 224, 0.123);
    color: white;

} */

.heading {
    text-align: center;
    font-size: 40px;
    letter-spacing: 8px;
    background: -webkit-linear-gradient(rgb(56, 56, 56), rgb(255, 255, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.icon-container {
    margin: 35px auto 45px auto;
    display: flex;
    justify-content: center;
    position: relative;
    top: 60%;
}

.icons {
    opacity: .6;
    filter: saturate(.3);
    margin: 0 8%;
    background-color: rgba(65, 65, 65, 0);
    display: inline-block;
    width: 100px;
    height: 100px;
    
}

/* #btc-icon {

} */

#btc-icon:hover {
    opacity: 1;
    transition: 1s;
    width: 110px;
    height: 110px;
    filter: saturate(1);

}


/* #eth-icon {
    
} */

#eth-icon:hover {
    opacity: 1;
    transition: 1s;
    width: 110px;
    height: 110px;
    filter: saturate(1);
}

/* #xrp-icon {
       
} */

#xrp-icon:hover {
    opacity: 1;
    transition: 1s;
    width: 110px;
    height: 110px;
    filter: saturate(1);
}



#title-bitcoin {
    text-align: center;
    color: white;
    width: 100%;
}

footer{
    position: fixed;
    bottom: 0;
    text-align: center;
    height: 25px;
    background-color: rgba(71, 71, 71, 0.308);
    width: 100%;
    border-top: 1px white solid;
}